.projects-container {
  width: auto;
  min-height: 100vh;
  padding: 120px;

  background-color: #ee5f3c;
}

@media (max-width: 1000px) {
  .projects-container {
    padding: 80px;
  }
}

@media (max-width: 767px) {
  .projects-container {
    padding: 50px;
  }
}
