.project-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin-bottom: 80px;

  &.end {
    margin-bottom: 0;
  }
  .content {
    width: 40%;
    line-height: 1;
    line-height: 1;

    .title {
      font-family: "calibre semibold";
      font-size: 60px;
      color: #fded59;
    }

    .description {
      font-family: "calibre regular";
      font-size: 30px;
      color: #ffce97;
      margin-bottom: 10px;
    }

    .links {
      .icon {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        fill: #ddb98e;
      }
    }
  }

  .project-image {
    width: 60%;
    text-align: center;
    vertical-align: middle;

    img {
      width: 80%;
      max-width: 800px;
    }
  }
}
