.about-container {
  width: auto;
  min-height: 100vh;
  padding: 120px;

  background-color: #2d6451;

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content {
      width: 60%;

      h2 {
        font-family: "calibre semibold";
        font-size: 60px;
        line-height: 0.85;
        color: #f7cbd1;
      }

      p {
        font-family: "calibre regular";
        font-size: 30px;
        line-height: 1;
        color: #99fad8;
      }
    }

    .portrait-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .portrait {
        width: 85%;
        max-width: 350px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .about-container {
    padding: 80px;
  }
}

@media (max-width: 767px) {
  .about-container {
    padding: 50px;

    .about-content {
      flex-direction: column;
      width: 100%;

      .content {
        width: auto;
        text-align: center;

        h2 {
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }

      .portrait-container {
        width: 100%;
        .portrait {
          width: 250px;
        }
      }
    }
  }
}
