.about-container {
  width: auto;
  min-height: 100vh;
  padding: 120px 120px;

  background-color: green;

  .about-title {
    display: flex;
    width: 100%;
    margin-bottom: 60px;

    .number {
    }

    .number::after {
      content: "";
      position: relative;
      display: inline-block;
      vertical-align: middle;

      margin: 0 20px;
      width: 150px;
      height: 1px;
      border-top: 1px solid black;
    }
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .content {
      width: 60%;

      h2 {
        font-family: "calibre semibold";
        font-size: 60px;
        line-height: 0.85;
      }

      p {
        font-family: "calibre regular";
        font-size: 30px;
        line-height: 1;
      }
    }

    .portrait-container {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .portrait {
        width: 85%;
        max-width: 350px;
      }
    }
  }
}
