.email {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: right top;
  transform: translateY(100%) rotate(90deg);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  max-width: 300px;
  width: auto;
  height: 110px;

  font-family: "league mono regular";
  font-size: 14px;

  &::after {
    content: "";
    position: relative;
    height: 1px;
    width: 120px;
    background-color: #a8b2d1;
  }

  a {
    margin-right: 20px;
    text-decoration: none;
    color: #a8b2d1;
  }
}

@media (max-width: 767px) {
  .email {
    display: none;
  }
}
