$bg-color: #172a45;

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: auto;

  padding: 0 150px;

  background-color: $bg-color;

  .astronaut {
    position: absolute;
    width: auto;
    height: 500px;
    z-index: 0;
  }

  .hello {
    height: 150px;
    z-index: 1;
    font-family: "calibre medium";
    font-size: 250px;
    text-align: center;
    line-height: 0.9;

    color: #db4c77;
  }

  .title {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;

    font-family: "Calibre regular";
    font-size: 18px;
    color: #a8b2d1;
  }
}
