.header {
  position: fixed;
  top: 0;
  z-index: 1;

  height: 80px;
  width: 100%;
  padding: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    display: flex;
    align-items: center;
    width: auto;

    .logo {
      width: 35px;
      height: 35px;
    }

    a {
      font-family: "league mono Regular";
      font-size: 14px;
      text-decoration: none;
      margin: 0 15px;

      &:visited {
        color: #c0ccf0;
      }

      &:hover {
        background-color: hotpink;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #c0ccf0;

    width: 300px;
    a {
      font-family: "league mono Regular";
      font-size: 14px;
      text-decoration: none;

      &:visited {
        color: #c0ccf0;
      }

      &:hover {
        background-color: hotpink;
      }
    }
  }
}
