.skills {
  margin-top: 50px;
  color: #99fad8;

  h2 {
    font-family: "calibre semibold";
    line-height: 0.9;
  }

  p {
    margin-bottom: 10px;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;

    .skill {
      margin-bottom: 5px;
    }
  }
}
