@import "./fonts/Calibre/calibre.css";

@font-face {
  font-family: "Sofia Pro bold";
  src: url("./fonts/SofiaProBold.ttf") format("truetype");
  // url("./fonts/SofiaProBold.woff2") format("woff2"),
  // url("./fonts/SofiaProBold.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
